{%extends "base.html"%} {%block body%}
<h3>Search a book</h3>
<br>
<form method="post">
  {{ form.hidden_tag() }}
  <table>
    <tr>
        <td><h6>Search by title</h6></td>
        <td>
            <datalist id="title">
              {% for i in bookList%}
              <option value="{{i.title}}">{{i.title}}</option>
              {%endfor%}
            </datalist>
            <input  name="title" autoComplete="on" list="title"/> 
        </td>
    </tr>
    <tr>
      <td></td>
      <td>OR</td>
    </tr>
    <tr>
      <td><h6>Search by author</h6></td>
      <td>
        <datalist id="authors">
          {% for i in authorList%}
          <option value="{{i.author}}">{{i.author}}</option>
          {%endfor%}
        </datalist>
        <input  name = "authors" autoComplete="on" list="authors"/>
      </td>

    
      
    </tr>

    <tr>
        <td></td>
      <td> <input type="submit" value="Search Book"></td>
    </tr>
  </table>
</form>

<br> <hr>

{%if show%}
<div>
<h3>Search Result</h3>
{%if result != None %}
<h6 style="color: rgb(60, 206, 2);">Success</h6>
<h6>Book Title : {{result.title}}</h6>
<h6>Book Author : {{result.author}}</h6>
<h6>Book Published on : {{result.published_date}}</h6>

<br>
<h6 ><a style="color: red; text-decoration: none;" href="{{url_for('delete',title= result.title)}}">Delete this book</a></h6>
{%else%}
<h6 style="color: Red;">No Book Found</h6>
{%endif%}
</div>
{%endif%}

{%endblock%}

